<!DOCTYPE html>
<html>

<head>
    <title>Trang chủ</title>
    <meta name="application-name" content="AutoForm">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/global-style.css">
    <link rel="stylesheet" href="/stylesheets/style/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/home-style.css">

    <script src="/javascripts/jquery.color.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/home.js" type="text/javascript"></script>
    <script src="/javascripts/ejs_production.js" type="text/javascript" ></script>
</head>

<body>
    <div class="container">
        <!-- MENU -->
        <div class="left">
            <ul class="pure-menu-list menu">
                <li class="pure-menu-item menu-item">
                    <a href="/home" class="pure-menu-link">
                        <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                    </a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="/profile" class="pure-menu-link">
                        <i class="fa fa-address-book" aria-hidden="true"></i> Quản lý profile</a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="#" class="pure-menu-link">
                        <i class="fa fa-history" aria-hidden="true"></i> Lịch sử</a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="#" class="pure-menu-link">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Báo cáo</a>
                </li>

            </ul>

        </div>

        <!-- MAIN -->
        <div class="right">
            <!-- HEADER -->
            <div class="header">
                <div class="page-name">
                    <h2>Auto form</h2>
                </div>
                <div class="user">
                    <ul class="nav">
                        <li class="nav-user">
                            <a href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </a>
                            <ul class="drop-down">
                                <li>
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                    <a href="#">Tài khoản</a>
                                </li>
                                <li>
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <a href="#">Cài đặt</a>
                                </li>
                                <li>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <a href="#">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- CONTENT -->
            <div class="main">

                <!-- SEARCH -->
                <div class="search">
                    <div class="search-header">
                        <a href="#">Tìm kiếm
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>

                    </div>

                    <div class="search-content">
                        <form class="pure-form pure-form-aligned search-form">
                            <fieldset>
                                <div class="pure-g">
                                    <div class="pure-u-1-3">
                                        <label for="city">Tỉnh/Thành phố</label>
                                        <select id="city">
                                            <% cities.forEach(function(item){
                                                var selected=(item.name=="Hà Nội")?"selected":""%>
                                                <option <%=selected%>><%=item.name %></option>
                                            <%}) %>
                                        </select>
                                    </div>
                                    <div class="pure-u-1-3">
                                        <label for="district">Quận/Huyện</label>
                                        <select id="district">
                                        </select>
                                    </div>

                                    <div class="pure-u-1-3">
                                        <label for="organization">Tổ chức</label>
                                        <select id="organization">
                                        </select>
                                        <button type="button" class="pure-button pure-button-primary search-button">Tìm kiếm</button>
                                    </div>
                                </div>
                                <!--<div class="pure-g">
                                    <div class="pure-u-3-5">
                                        <label for="organization">Tổ chức</label>
                                        <select id="organization">
                                        </select>
                                        <button type="button" class="pure-button pure-button-primary search-button">Tìm kiếm</button>
                                    </div>
                                </div>-->
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="forms">

                    <!-- FORM CONTENT -->
                    <div class="form-content">

                        <!-- INFO -->
                        <div class="form-info">
                            <div class="profile pure-form">
                                <select id="profile">
                                    <option disabled selected>-- Chọn profile --</option>
                                    <%if(profs){%>
                                        <%profs.forEach(function(prof){%>
                                            <option data-id="<%=prof._id%>">
                                                <%=prof.name%>
                                            </option>
                                        <%})%>
                                    <%}%>

                                </select>
                            </div>
                            <!-- BUTTONS -->
                            <div class="features">
                                <button class="pure-button pure-button-primary fill-button">Điền biểu mẫu</button>
                                <!--<button class="pure-button print-button">In biểu mẫu</button>-->

                            </div>
                        </div>

                        <!-- DISPLAY FORM -->
                        <div class="form-detail" contenteditable="true">

                        </div>
                    </div>

                    <!-- LIST OF FORMS -->
                    <div class="form-list">
                        <div class="pure-menu custom-restricted-width form-list-detail">
                            <span class="pure-menu-heading">Danh sách biểu mẫu</span>
                            <ul class="pure-menu-list">
                                <%if(forms){%>
                                    <% forms.forEach(function(form){%>
                                        <li class="pure-menu-item form-item">
                                            <a class="pure-menu-link" data-id="<%=form._id%>">
                                                <%=form.name %>
                                            </a>
                                        </li>
                                        <%}) %>
                                            <%}%>

                            </ul>
                        </div>
                    </div>
                </div>




            </div>
        </div>



    </div>
    <div class="loader-modal">
        <!-- Place at bottom of page -->
    </div>

</body>

</html>